# Personal Aliases

# Customization
alias vim="nvim"
alias vimi3="vim ~/dotfiles/i3/config"
alias vimpoly="vim ~/dotfiles/polybar/config"
alias wali="wal -q -t -i ~/Pictures"
alias poly="polybar example &"

#Navigation
alias dot="cd ~/dotfiles"
alias gfonts="cd /usr/share/fonts"
alias projects="cd ~/Projects"
alias blog="cd ~/Projects/rorixrebel.github.io"

#Python
alias venv="virtualenv --python=python3 venv"
alias vact="source .venv/bin/activate"
alias vdec="deactivate"

# Random
alias update="sudo pacman -Sy"
alias ll="ls -lrta"


# APIs
export WEATHER_API="bfd92bb103b04d4f7bc58df281a98909"

