# Personal Aliases

# Customization
alias vim="nvim"
alias vimi3="vim ~/.config/i3/config"
alias vimpoly="vim ~/dotfiles/polybar/config"
alias wali="wal -i ~/Pictures > /dev/null 2>&1"
alias poly="~/dotfiles/polybar/launch.sh"
alias cat="bat"
alias du="ncdu"
alias ping="prettyping"

#Navigation
alias dot="cd ~/dotfiles"
alias gfonts="cd /usr/share/fonts"
alias projects="cd ~/Dev/"

# Random
alias updateos="sudo pacman -Syu"
alias updateaur="aurman -Syu"
alias ll="ls -lrta"

# Git
alias gst="git status"
alias gaa="git add ."
alias gcm="git commit -m"

# APIs
export WEATHER_API="bfd92bb103b04d4f7bc58df281a98909"

# XXX
alias jizztime 'firefox --private-window https://www.youjizz.com/'
