@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Tab bar below Navigation & Bookmarks Toolbars  */
#navigator-toolbox {
  background-color: black;
}
#nav-bar { /* main toolbar */
  -moz-box-ordinal-group: 1 !important;
  border-top-width: 0 !important; 
  background-color: black !important;
}
#PersonalToolbar { /* bookmarks toolbar */
   -moz-box-ordinal-group: 2 !important;
   background-color: black !important;
}
#TabsToolbar { /* tab bar */
 -moz-box-ordinal-group: 3 !important;
}
#home-button {
  background-color: #159B6F
}
.tab-content {
  background-color: black !important;
}
.tab-close-button {
  background-color: #159B6F;
}
#PlacesToolbarItems{
  padding-left: 90px;
}

