rofi.modi:				combi
rofi.combi-modi:                           run,drun,ssh
rofi.matching:                       normal
rofi.width:                          60
rofi.padding:                        24
rofi.columns:                        3
rofi.bw:                             10
rofi.separator-style:                none
rofi.hide-scrollbar:                 true
rofi.lines:                          15
rofi.font:                           Noto Sans 12 
rofi.terminal:                      rofi-sensible-terminal
rofi.color-enabled:                 true
rofi.theme:			/home/rorix/dotfiles/rofi/arc-dark.rasi
