rofi.modi:                           window,run,drun
rofi.combi-modi:                     window,run,drun
rofi.matching:                       normal
rofi.width: 500
rofi.padding: 50
rofi.bw: 3
rofi.separator-style: none
rofi.hide-scrollbar: true
rofi.opacity: 25
rofi.lines: 5


rofi.color-enabled: true
!rofi.color-normal: #a7b2ba, #FFFFFF, #a7b2ba, #a7b2ba, #000000
!rofi.color-window: #a7b2ba, #FFFFFF, #000000
!rofi.color-active: #a7b2ba, #000000, #a7b2ba, #a7b2ba, #000000
!rofi.color-urgent: #5f7a70, #e4b226, #5f7a70, #e4b226, #ffeefc
