rofi.modi:                           window,run,drun,ssh,drun
rofi.matching:                       normal
rofi.width:                          60
rofi.padding:                        24
rofi.columns:                        3
rofi.bw:                             15
rofi.separator-style:                none
rofi.hide-scrollbar:                 true
rofi.lines:                          15
rofi.font:                           Source Code Pro 12 
#rofi.terminal:                       rofi-sensible-terminal
#rofi.color-enabled:                  true
rofi.theme:                          ~/.cache/wal/colors-rofi-dark.rasi
