[Unit]
Description=MetricBeat
Documentation=https://www.elastic.co/guide
After=network.target

[Service]
Type=simple
Restart=always
User=rorix
Group=rorix
ExecStart=/home/rorix/apps/metricbeat-7.0.1-linux-x86_64/metricbeat -c /home/rorix/apps/metricbeat-7.0.1-linux-x86_64/metricbeat.yml

[Install]
WantedBy=multi-user.target
